body {
    font-family: 'Livvic', sans-serif;
    color: #172772;
    font-size: 18px;
    margin: 0;
}

h1{
    font-size: 45px;
    font-weight: 900;
}

#banner-introduction{
    font-size: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;

}

h3 {
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    color: #172772;
}

*{
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    margin: 0 auto;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: white;
    border-bottom: 2px solid #D0FDF2;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #172772;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

.banner {
    background-image: url(images/Menu-Pokawa.webp);
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
}

.container {
    width: 900px;
    margin: 50px auto; 
}

.card-green img {
    width:120%;
    position: absolute;
    border-radius: 10%;
    left: 50%;
    margin-left: -140px;
    top:-87px;
    transition: 0.3s;
}

.card-green {
    font-family: 'Poppins', sans-serif;
    color: grey;
    padding: 15px;
    margin: 15px;
    box-shadow: 0px,10px, 30px rgba(0,0,0,0,3);
    background-color:#D0FDF2;
    border-radius: 10%;
    transition: 0.3s;

}

.card-green a {
    border-radius: 10%;
}

.card-green:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transform: scale(1.1);
}

.card-green:hover img {
    transform:rotate(-10deg);
}


.elementor-animation-rotate {    
    overflow: hidden;
    border-radius: 10%;
    position: relative;
    width: 100%;
    height: 170px;
    margin: 0;

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    text-align: center;
}

.btn-blue {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 20px;
    background-color: #172772;
    border-radius: 4px;
  }

.btn-blue:hover {
    background-color: #A5B5D7;
  }

#footer{
    background-color: #172772;
}

.texte-footer {
    color: white;
    text-align: center;
}

#header{
    background-color: #172772;
    margin-bottom: 40px;
}

#header-logo {
    text-align: center;
    height: 80px;
    margin: auto;
    display: flex;
    width: 20%;
}
